* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F5F9FC;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
  background: linear-gradient(90deg,rgba(118, 202, 219, 1) 0%, rgba(20, 16, 156, 1) 100%);
  color: #F5F9FC;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  margin-bottom: 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 2px 3px 1px 1px #99c4e7;
}

#logo {
  height: 67px;
}

header h1 {
  font-weight: 700;
}

#navegacion a {
  display: inline-block;
  color: rgb(231, 231, 231);
  text-decoration: none;
  font-weight: 600;
  margin-left: 25px;
  padding: 8px 12px;
  border-radius: 5px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#navegacion a:hover {
  background-color: #1678c9;
  color: #ffffff;
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

#articulos {
  background-color: #FFFFFF;
  padding: 25px 30px;
  border-radius: 12px;
}

#articulos h2{
  border-bottom: 2px solid #27A2E1;
  color: #004C8C;
  font-weight: 700;
  margin-bottom: 25px;
  padding-bottom: 8px;
}

article {
  margin-bottom: 40px;
  border-left: 4px solid #27A2E1;
  padding-left: 15px;
}

article h3,h4 {
  color: #004C8C;
  font-weight: 700;
  margin-top: 6px;
  margin-bottom: 10px;
}

article p {
  color: #0f0e0e;
  margin-bottom: 22px;
}

article img{
  border-radius: 10px;
  border: 2px solid #27A2E1;
  box-shadow: 1px 1px 8px 2px gray;
  width: 400px;
}

article a {
  display: flex;
  justify-content: center;
  width: 14%;
  margin: 0 auto;
  text-decoration: none;
  background-color: #004C8C;
  color: white;
  padding: 8px 10px;
  border-radius: 15px;
  font-weight: 700;
  font-size: 80%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 1px 1px 8px 2px gray;
}

article a:hover {
  background-color: #27A2E1;
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

footer {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 20px 30px;
  background: linear-gradient(90deg,rgb(17, 30, 32) 0%,rgba(20, 16, 156, 1) 100%);
  color: #CCCCCC;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-size: 2.3vh;
}

footer div {
  margin-bottom: 7px;
}

.footer-nav {
  display: flex;
  width: 100%;
  gap: 60px;
  font-size: 16px;
}

.footer-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-title {
  font-weight: 700;
  color: #E0E0E0;
  margin-bottom: 8px;
}

.footer-nav a {
  color: aliceblue;
  text-decoration: none;
}

.footer-nav a:hover {
  text-decoration: underline;
}

.footer-nav li {
  padding: 4px 0;
}

footer img {
  position: absolute;
  right: 4%;
  width: 70px;
}

@media (max-width: 768px) {
  header {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }

  header h1 {
    margin-top: 10px;
    text-align: center;
    flex-basis: 100%;
  }
    #navegacion {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
  }

  #navegacion a {
    margin: 5px 10px;
  }
}